{{!-- <div class="kg-card kg-header-card kg-v2 kg-layout-split kg-width-full kg-swapped kg-content-wide kg-size-{{size}} kg-style-{{style}}" style="" data-kg-background-image="https://example.com/image.jpg">
    <h2 class="kg-header-card-header">Header</h2>
    <h3 class="kg-header-card-subheader">Subheader</h3>
    <a href="" class="kg-header-card-button">
        Button Text
    </a>
</div> --}}




<div class="kg-card kg-header-card kg-v2 kg-layout-split kg-width-full kg-swapped kg-content-wide " style="background-color: #000000;" data-background-color="#000000">
            
    <div class="kg-header-card-content">
        
    <picture><img class="kg-header-card-image" src="{{asset 'images/landing-image.png'}}" loading="lazy" alt="Olson Lab heading image"></picture>

        <div class="kg-header-card-text kg-align-center">
            <p id="olson-landing-subtitle" class="kg-header-card-subheading">
                Welcome to
            </p>
            <h2 id="olson-landing-title" class="kg-header-card-heading">Olson Lab</h2>
            <p id="olson-landing-subtitle" class="kg-header-card-subheading">
                We research how <b>cytoskeleton</b> changes can drive cancer progression, focusing on the <b>actin dynamics</b> that allow tumors to metastasize in order to unveil new <b>therapeutic targets</b>.
            </p>
            
        </div>
    </div>
</div>